<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thing Or Two Prueba Sergi</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                <a class="navbar-brand" href="#">PRUEBA TÉCNICA - SERGI BOTARGUES</a>
              </nav>
    <div class="container">
        <div class=" nav justify-content-center" style="margin-top:100px;">
         <div class="card border-warning mb-3 " style="max-width: 20rem;">
                <div class="card-header"><h5>Subir el archivo CSV cómo el del ejemplar que hay adjunto (song_list.csv)</h5></div>
                <div class="card-body">
                        <form action="/" method="post" enctype="multipart/form-data">
                            <input type="file" name="csv"><br><br>
                         <div class="text-center text-uppercase"><button type="submit" class="btn btn-lg btn-primary">submit</button></div>   
                        </form>
                </div>
          </div>
    </div><br>
    <%if(data){%>
    <div>
        <table class="table" style="width: 400px" > 
                <thead>
                    <tr class="bg-primary text-uppercase">
                        <th>Número</th>
                        <th style="padding-right: 1em">Song Name</th>
                        <th style="padding-right: 1em">Band</th>
                        <th style="padding-right:2em;padding-left:2em;">Year</th>
                    </tr>
                </thead>
                <tbody style="overflow-x: scroll; height:350px;" class="table-bordered">
                    <%for(var i=0;i< data.length;i++){%>
                    <tr class="text-center text-uppercase">
                                  <td ><%= i+1%></td>
                                  <td style="padding-right: 1em"><%= data[i].song_name%></td>
                                  <td style="padding-left: 1em;"><%= data[i].band%></td>
                                  <td style="padding-right:1em;padding-left:1em;"><%= data[i].year%></td>
                    </tr>
                    <%}%>
                </tbody>
        </table>
    </div>
    <%}%>
<br>
<!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../app.js"></script>
</body>
</html>
